/* =================================
            Jumbotron
================================= */

.jumbotron {
    text-align: center;
    background-image: url(../images/vichy.png);
    border-bottom: 8px solid gray;
}

/* =================================
            Body
================================= */

.centeredtext {
    text-align: center;
    margin-top: 25px;
}

body {
    background-image: url(../images/purty_wood.png);
}

h2 {
    margin-bottom: 25px;
}

p {
    font-size: 20px;
}

/* =================================
            Footer
================================= */

footer {
    background-image: url(../images/vichy.png);
    border-top: 8px solid gray;
}

footer a:hover {
    color: orange;
    text-decoration: none;
}